@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Board{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.Board-cell {
  text-align: center;
  outline: 4px solid white;
  height: 0;
}

.Tile {
  background-color: #ccc;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  font-size: 22px;  
}

.Tile:hover{
  background-color: #aaa;
}

.TileContent{
  padding-top: 40%;
}

.Error {
  color: red;
}


@media (min-width:481px) { /* portrait e-readers, smaller tablets */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape phones */ 
  .Board{
    width: 60%;
    height: 60%;
  }
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .Board{
    width: 36%;
    height: 36%;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

